.bgcolor{
  background-color: #f50057;
}

.logo{
  margin-top: 150px;
}

.card-log-bg,.nav-log-bg,.card-sign-bg{
  /* background-color: #cbf2fa  */
  background-image: linear-gradient(45deg,#9fdbfe,#b5d9f4);
  /* background-color: hsla(206, 92%, 77%, 0.81); */
}

.bg-img{
  background-image: url(https://cdn.cbeditz.com/cbeditz/large/11625065457gxal4eswybfcu4gjh3m8lzq2hwdu5an4zslf4az4wbba9bxwui4yuy9dhozosejtvalc5w7cszl6aymprc6jcix4jhr5quycwdzr.jpg);
  background-size: cover;
  backdrop-filter: blur(10px);
}

.liquid-font{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item .active{
  border-bottom: 2px solid rgb(3 4 110);
  font-weight: bold;
  color: rgb(3 4 110) !important;
}

.prod-img{
  height:"300px";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}